# Ignore data and versioned artifacts
v*/
data/
export_code.py

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Streamlit cache
.streamlit/ 